# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment
.env

# VS Code
.vscode/

# Allure
allure-results/
allure-report/

# Mac
.DS_Store